<div class="footer-copyright text-center p-2 miuky-color" style="box-shadow: 0 4px 12px 0 rgb(0, 0, 0, 0.7), 0 2px 4px rgba(0, 0, 0, 0.5); background: #2C2F33;">
    <%= t('footer.copyright') %>
</div>

<style>
    /* Mobile */
    @media only screen and (max-width: 768px) {
        .footer-copyright {
            font-size: 12px;
        }
    }
</style>