<div id="loading">
  <div class="text-center">
    <div class="d-flex justify-content-evenly">
      <div class="ball"></div>
      <div class="ball mx-2"></div>
      <div class="ball"></div>
    </div>
    <span><%= t('loading') %></span>
    <noscript>
      <div class="rounded p-3 position-relative mt-5" style="border: 1px solid #FFA900; background: #2C2F33; color: #FFA900; overflow-wrap: anywhere;">
        <span class="position-absolute top-0 start-50 start-md-0 translate-middle badge rounded bg-warning p-1 text-dark">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
        <%= t('noscript') %>
      </div>
    </noscript>
  </div>
</div>