<div id="save-popup" class="hidden none position-fixed bottom-0 end-0 ms-5 ms-lg-0 mb-3 mb-lg-6 me-2 text-wrap miuky-color rounded-3 miuky-shadow w-auto p-lg-3 p-2 d-block d-lg-flex align-items-center justify-content-center text-center" style="background: rgba(0, 0, 0, 0.9); transition: all 1s ease;">
  <div class="fw-normal me-lg-3">
    Mudanças detectadas! Por favor, salve ou cancele.
  </div>
  <form id="formSave" action="<%= t('route.api') %>/guilds/<%= guild.id %>/<%= postUrl %>" method="POST">
    <input type="reset" id="resetForm" value="Cancelar" class="btn btn-danger"  />
    <input type="button" id="saveForm" value="Salvar" class="btn btn-primary ms-1" />
  </form>
</div>